*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    position: fixed;
    background-color: black;
    width: 100%;
    color: white;
    height: 20px;
    font-size: 12pt;
}
ul{
    width: 80%;
    margin: auto;
    display: flex;
}